[Unit]
Description=A target that, when running, represents the screen being locked
Requires=unity7.service
Wants=unity-panel-service-lockscreen.service
PartOf=graphical-session.target
