[Unit]
Description=A target that, when running, represents the screen being locked
Wants=ubuntu-panel-service-lock.service
PartOf=graphical-session.target
