Source: unity
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0~),
               dh-translations (>= 94),
               dh-migrations,
               pkg-config,
               python (>= 2.7),
               python-setuptools,
               libjson-perl,
               quilt,
               intltool (>= 0.35.0),
               libsigc++-2.0-dev,
               libgee-dev (>= 0.5.0),
               libunique-dev,
               libbamf3-dev (>= 0.5.0+13.10.20130626),
               gsettings-desktop-schemas-dev,
               libglib2.0-dev (>= 2.30),
               libdbusmenu-glib-dev (>= 0.3.91),
               libgtk-3-dev (>= 3.1),
               libcairo2-dev,
               libpango1.0-dev,
               libdee-dev (>= 1.0.0),
               libindicator-dev (>= 0.12.2),
               libindicator3-dev (>= 0.12.2),
               libido3-0.1-dev (>= 13.10.0),
               libunity-misc-dev (>= 4.0.4),
               libgrail-dev (>= 1.0.20),
               libxcb-icccm4-dev,
               libnux-4.0-dev (>= 4.0.2),
               compiz-dev (>= 1:0.9.9~daily13.01.25bzr3586),
               libcompizconfig0-dev (>= 1:0.9.9~daily12.12.05-0ubuntu2),
               xsltproc,
               libboost-dev,
               libboost-serialization-dev,
               libnotify-dev,
               libstartup-notification0-dev,
               libatk1.0-dev,
               libjson-glib-dev,
               libgeis-dev (>= 2.0.10),
               libunity-dev (>= 7.0.2),
               libunity-common,
               libzeitgeist-dev (>= 0.3.18),
               libxfixes-dev (>= 1:5.0-4ubuntu4),
               libxpathselect-dev (>=1.3),
               libgtest-dev,
               google-mock,
Standards-Version: 3.9.3
Homepage: https://launchpad.net/unity
# If you aren't a member of ~unity-team but need to upload packaging changes,
# just go ahead.  ~unity-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~unity-team/unity/trunk

Package: unity
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         libunity-core-6.0-7 (= ${binary:Version}),
         unity-common (= ${source:Version}),
         compiz,
         compiz-core, compiz-core-abiversion-${coreabiversion},
         libnux-abiversion-${nuxabiversion},
         compiz-plugins-default,
         libglib2.0-bin,
         python-gconf,
         nux-tools,
         dconf-tools,
         unity-asset-pool (>= 0.8.18),
         bamfdaemon,
Provides: indicator-renderer
Recommends: gnome-control-center-unity,
            ${unity-default-masterscopes}
            indicator-appmenu,
            indicator-application,
            indicator-sound,
            indicator-bluetooth,
            indicator-datetime,
            indicator-messages,
            indicator-printers,
            indicator-power,
            indicator-session,
            indicator-sync,
            hud,
Breaks: unity-lens-applications (<< 5.12.0-0ubuntu2),
        unity-lens-files (<< 5.10.0-0ubuntu2),
        unity-lens-music (<< 6.0.0),
        unity-lens-video (<< 0.3.6-0ubuntu2),
Description: Interface designed for efficiency of space and interaction.
 Unity is a desktop experience that sings. Designed by Canonical and the Ayatana
 community, Unity is all about the combination of familiarity and the future. We
 bring together visual design, analysis of user experience testing, modern
 graphics technologies and a deep understanding of the free software landscape
 to produce what we hope will be the lightest, most elegant and most delightful
 way to use your PC.

Package: unity-services
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         upstart,
Description: Services for the Unity interface
 Unity is a desktop experience that sings. Designed by Canonical and the Ayatana
 community, Unity is all about the combination of familiarity and the future. We
 bring together visual design, analysis of user experience testing, modern
 graphics technologies and a deep understanding of the free software landscape
 to produce what we hope will be the lightest, most elegant and most delightful
 way to use your PC.
 .
 This package contains the dbus service used for unity.

Package: unity-common
Architecture: all
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${python:Depends},
Description: Common files for the Unity interface.
 Unity is a desktop experience that sings. Designed by Canonical and the Ayatana
 community, Unity is all about the combination of familiarity and the future. We
 bring together visual design, analysis of user experience testing, modern
 graphics technologies and a deep understanding of the free software landscape
 to produce what we hope will be the lightest, most elegant and most delightful
 way to use your PC.
 .
 This package contains commons file that are architecture independent.

Package: libunity-core-6.0-7
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         unity-services (= ${binary:Version}),
         unity-common (= ${source:Version}),
Description: Core library for the Unity interface.
 Unity is a desktop experience that sings. Designed by Canonical and the Ayatana
 community, Unity is all about the combination of familiarity and the future. We
 bring together visual design, analysis of user experience testing, modern
 graphics technologies and a deep understanding of the free software landscape
 to produce what we hope will be the lightest, most elegant and most delightful
 way to use your PC.
 .
 This package contains shared libraries to be used by unity-3d.

Package: libunity-core-6.0-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libunity-core-6.0-7 (= ${binary:Version}),
         libglib2.0-dev,
         libsigc++-2.0-dev,
         libnux-4.0-dev (>= 4.0.2),
         libunity-dev (>= 7.0.2~),
         libdee-dev,
Description: Core library for the Unity interface - development files
 Unity is a desktop experience that sings. Designed by Canonical and the Ayatana
 community, Unity is all about the combination of familiarity and the future. We
 bring together visual design, analysis of user experience testing, modern
 graphics technologies and a deep understanding of the free software landscape
 to produce what we hope will be the lightest, most elegant and most delightful
 way to use your PC.
 .
 This package contains development files for libraries to be used by unity.

Package: unity-autopilot
Section: python
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         autopilot-desktop,
         python-windowmocker,
         gir1.2-appindicator3-0.1,
         gir1.2-dee-1.0,
         gir1.2-glib-2.0,
         gir1.2-ibus-1.0,
         gir1.2-unity-5.0,
         python-compizconfig,
         python-dbus,
         python-testtools,
         python-xdg,
         python-xlib,
         libxpathselect1.3 (>= 1.3),
Description: Autopiloted tests for Unity
 We test Unity automatically through autopilot, a framework which enables us
 to trigger keyboard and mouse events on the fly as well as introspecting
 objects. This package contains the specific unity introspection bindings
 to be able to write tests in python as well as the full test suite for Unity.

Package: unity-2d
Depends: unity, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package for unity-2d -> unity migration.
 It can safely be removed.

Package: libunity-2d-private0
Depends: unity, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package for unity-2d -> unity migration.
 It can safely be removed.

Package: libunity-2d-private-dev
Depends: unity, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package for unity-2d -> unity migration.
 It can safely be removed.

Package: unity-2d-panel
Depends: unity, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package for unity-2d -> unity migration.
 It can safely be removed.

Package: unity-2d-spread
Depends: unity, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package for unity-2d -> unity migration.
 It can safely be removed.

Package: unity-2d-common
Depends: unity, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package for unity-2d -> unity migration.
 It can safely be removed.

Package: unity-2d-shell
Depends: unity, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package for unity-2d -> unity migration.
 It can safely be removed.

Package: unity-2d-dbg
Priority: extra
Depends: unity, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package for unity-2d -> unity migration.
 It can safely be removed.

