Source: unity
Section: gnome
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cdbs,
               debhelper (>= 7),
               autotools-dev,
               pkg-config,
               valac (>= 0.7.8),
               libvala-dev (>= 0.7.8),
               libgee-dev (>= 0.5.0),
               libunique-dev,
               libclutter-1.0-dev,
               libclutter-gtk-0.10-dev (>=0.10.2-1ubuntu1),
               libclutk-dev (>= 0.3.8),
               liblauncher-0.3-dev (>= 0.3.0),
               libwnck-dev (>= 2.28.0),
               libwncksync-dev (>= 0.2.0),
               libglib2.0-dev (>= 2.22.2-0ubuntu1wncksync3),
               libgtk2.0-dev (>= 2.18.0),
               libindicator-dev (>= 0.3.1),
               libunity-misc-dev (>= 0.1.0),
               libmutter-dev
Standards-Version: 3.8.3
Homepage: https://launchpad.net/ayatana

Package: unity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mutter
Conflicts: netbook-launcher (<< 0.1.5+r61)
Replaces: netbook-launcher (<< 0.1.5+r61)
Provides: netbook-launcher
Description: Launcher
 Unity launcher.

Package: netbook-launcher
Section: oldlibs
Architecture: all
Depends: unity, ${misc:Depends}
Description: transitional package
 unity supersedes netbook-launcher. This package ensures a clean upgrade path,
 and can be safely removed after the upgrade. 

